/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for stjude/rsvrecon pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    // References
    save_reference              = false

    // Read Trimming Options
    save_trimmed_fail           = false
    skip_fastp                  = false

    // Process Skipping Options
    skip_qc                     = false
    skip_fastqc                 = false
    skip_multiqc                = false
    skip_genotyping             = false
    skip_wholegenome_genotyping = false
    skip_ggene_genotyping       = false
    skip_report                 = false

    // Reference File Options
    rsv_fasta_pool              = null
    rsv_gff_pool                = null
    rsv_meta_pool               = null
    kma_index                   = null
    blast_gisaid_db             = null
    genotype_whole_genome_fasta = null
    genotype_whole_genome_meta  = null
    genotype_ggene_fasta        = null

    // Options: Alignment
    aligner                     = 'bwa'
    genomeSAindexNbases         = 5
    save_unaligned              = false

    // Options: Assembly
    igv_cutoff                  = 50

    // Options: General
    save_log                    = false
}
