/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for stjude/rsvrecon pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    // Read Trimming Options
    save_trimmed_fail           = false
    skip_fastp                  = false

    // Process Skipping Options
    skip_qc                     = false
    skip_fastqc                 = false
    skip_multiqc                = false

    // KMA mapping Options
    kma_index                   = null
    rsv_gff                     = null
    rsv_meta_file               = null

    // Mapping Options
    genomeSAindexNbases         = null

    // Sequence Assembly Options
    igv_cutoff                  = null
    blast_db                    = null
}
