/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for stjude/rsvrecon pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    // Read Trimming Options
    save_trimmed_fail           = false
    skip_fastp                  = false

    // Process Skipping Options
    skip_qc                     = false
    skip_fastqc                 = false
    skip_multiqc                = false

    //
    kma_index                   = null
}
